.list-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  list-style: none;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.list-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list-item:last-child {
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
