.container {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.remove-btn {
  color: #1890ff;
  cursor: pointer;
}